.horizontal-lists {
    width: 100%;
    &:before {
        content: '';
        z-index: 1;
        width: 48px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
    }
    &:after {
        content: '';
        z-index: 1;
        width: 48px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    }
    .outer {
        display: flex;
        padding: 48px 0;
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            height: 7px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }
        >div {
            flex: 0 0 auto;
            background-color: white;
            padding: 8px 32px;
            margin: 32px;
            border-radius: 10px;
            box-shadow: 0 0 2px rgba(0, 0, 0, .1), 1px 1px 6px rgba(0, 0, 0, .2), -2px -1px 5px 0px rgba(0, 0, 0, .1) inset;
        }
    }
}

.list {
    padding: 0 12px;
    li {
        padding: 4px;
        >span:not(:first-child) {
            margin-left: 8px;
        }
    }
    h5 {
        font-weight: 400;
    }
    h5.not-found {
        opacity: 0.6;
        font-size: 0.5rem;
        font-style: italic;
        font-weight: 400;
    }
}

.provo-ana-scale {
    font-size: 0.5rem;
    opacity: 0.3;
}

@media screen and (max-width: 980px) {
    .horizontal-lists .outer>div {
        padding: 4px 16px;
        margin: 0 12px;
        &:first-child {
            margin-left: 24px;
        }
        h3 {
            margin: 8px 0;
        }
        h5 {
            margin: 12px 0;
        }
        ol {
            margin: 4px 0;
        }
        li {
            padding: 2px;
            font-size: 0.8rem;
        }
    }
}