@import "timeline";
@import "wordCollection";
@import "averageWords";
@import "wordAnalysis";
@import "buzzword";
$default_font_color: rgba(0, 0, 0, 0.75);
$break-medium: 980px;
$nav-width: 240px;
$site-width: 1600px;
$cna-color: #26A69A;
$apple-color: #ef5350;
$ettoday-color: #5C6BC0;
$liberty-color: #FFCA28;
$udn-color: #8D6E63;
$china-color: #03A9F4;
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: 'white';
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100%;
}

//FOR DEBUG
// * {
// border: 1px solid black;
// }
* {
    color: $default_font_color;
    -webkit-overflow-scrolling: touch;
    font-family: source-han-sans-traditional, sans-serif;
}

.apple {
    background-color: $apple-color
}

.udn {
    background-color: $udn-color
}

.liberty {
    background-color: $liberty-color
}

.ettoday {
    background-color: $ettoday-color
}

.cna {
    background-color: $cna-color
}

.china {
    background-color: $china-color
}

.fa.hide-icon {
    display: none;
}

.hide-hover {
    display: none !important;
}

.big-title {
    position: relative;
    margin-left: 80px;
}

.loader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    animation: loading-text 2s infinite;
    h5 {
        color: red;
        font-weight: 300;
        &:first-child {
            margin-top: 36px;
        }
    }
}

.mob-waring {
    display: none;
}

@keyframes loading-text {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.2;
    }
}

@keyframes rotateIn {
    from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }
    to {
        transform-origin: center;
        transform: none;
        opacity: 1;
    }
}

.rotateIn {
    animation-name: rotateIn;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

#help {
    position: fixed;
    right: 0;
    top: 0;
    max-width: 20rem;
    z-index: 7;
    margin: 36px;
    padding: 12px;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    opacity: 0.9;
    transition: 0.2s;
    cursor: pointer;
    line-height: 36px;
    min-width: 36px;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1), 1px 1px 6px rgba(0, 0, 0, .2), -2px -1px 5px 0 rgba(0, 0, 0, .1) inset;
    .fa-question {
        vertical-align: middle;
    }
    &:hover {
        opacity: 1;
        transform: translate(-4px, -4px);
    }
    .content,
    .hover-tip {
        text-align: left;
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
        line-height: 1.4rem;
        em {
            background-color: rgba(0, 255, 0, 0.45);
        }
        ul,
        ol {
            height: 7rem;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 7px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: rgba(0, 0, 0, .5);
                -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
            }
        }
    }
}

.help-i {
    opacity: 0.3;
    transition: 0.4s;
    padding-left: 4px;
    &:hover {
        color: #fdf74d;
        opacity: 1;
        transform: scale(1.2);
    }
}

#about {
    position: absolute;
    background-color: white;
    height: 95vh;
    width: 980px;
    top: 0;
    left: 110vw;
    z-index: 7;
    padding: 20px;
    & p {
        line-height: 1.7em;
        text-align: justify;
    }
    & .band-container:nth-child(1) {
        margin-top: 0px;
    }
    & .band .band-container {
        margin: 0px 80px;
    }
    & .inf-card-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: flex-start;
        & .inf-card {
            padding: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 150px;
            & .name {
                margin-bottom: 6px;
            }
            & .talking {
                opacity: 0.4;
                font-size: 12px;
            }
            & .links .fa {
                font-size: 25px;
                padding: 2px;
                opacity: 0.4;
                transition: 0.2s;
                cursor: pointer;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

#modal-closer {
    width: 100px;
    height: 100px;
    position: relative;
    display: block;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
    &:before,
    &:after {
        content: '';
        width: 100%;
        height: 5px;
        background-color: #EEE;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

#modal-container {
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 8;
    opacity: 0.9;
    transition: visibility 0s, top 0.5s;
    background-color: #E3E3E3;
    visibility: hidden;
    display: flex;
    justify-content: center;
    &.show {
        visibility: visible;
        top: 0;
        & #pop-content {
            opacity: 1;
            top: 0;
            & .card {
                min-width: 400px;
            }
        }
        opacity: 1;
        top: 0;
    }
    #pop-content {
        opacity: 0;
        transition: 0.5s;
        transition-delay: 0.7s;
        top: 20px;
    }
}

.container {
    margin: 0 auto;
    max-width: $site-width;
    z-index: 1;
}

.page-container {
    position: relative;
    top: 0;
    background: white;
    z-index: 5;
    transition: all 0.2s ease-in, transform 2s;
    transform-origin: top;
    &.show-page {
        animation: show-page 1.25s 1 both;
    }
    &.show-about {
        animation: show-about 1.25s 1 forwards;
    }
    &.hide-about {
        animation: hide-about 1.25s 1 forwards;
    }
}

@keyframes show-page {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes show-about {
    0% {
        transform: scale(1) translateX(0);
    }
    30% {
        transform: scale(0.95) translateX(0);
    }
    70% {
        transform: scale(0.95) translateX(-110vw);
    }
    100% {
        transform: scale(1) translateX(-110vw);
    }
}

@keyframes hide-about {
    0% {
        transform: scale(1) translateX(-110vw);
    }
    30% {
        transform: scale(0.95) translateX(-110vw);
    }
    70% {
        transform: scale(0.95) translateX(0);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

.band {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    & h1,
    & h2 {
        margin: 0;
        padding: 0 0 10px;
        display: inline-block;
        z-index: 1;
    }
    & h1 {
        font-size: 32px;
        letter-spacing: 0.3rem;
    }
    & h2 {
        padding: 0px 10px;
        &.sub-title {
            opacity: 0.8;
            font-weight: 300;
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
        }
    }
    & .band-container {
        overflow: hidden;
        left: 0;
        right: 0;
        margin-bottom: 120px;
        position: relative;
        width: 100%;
        &.top-band {
            min-height: 100px;
        }
        & .band-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1.5em 0 0 0;
            width: 100%;
            position: relative;
            >div:first-child {
                display: flex;
                flex-direction: column;
                h1,
                h2 {
                    text-align: center;
                }
            }
            & #num-news {
                font-size: 100px;
                font-weight: 300;
            }
            & .num-scale {
                font-weight: 300;
                font-size: 20px;
                margin: 24px;
            }
            .bar-container {
                display: flex;
                justify-content: center;
                top: 0;
                position: relative;
                g.axis path {
                    fill: none;
                    stroke-width: 1;
                    stroke: lightgrey;
                }
            }
            .data-desc {
                display: flex;
                justify-content: center;
                align-items: baseline;
                margin-bottom: 64px;
            }
            #tip {
                position: absolute;
                top: 50%;
                left: 48px;
                opacity: 0.3;
                z-index: 0;
                em {
                    font-weight: bolder;
                    font-size: 1.1rem;
                    letter-spacing: 0.02rem;
                    margin-left: 6px;
                    margin-right: 4px;
                }
                .mouse-icon {
                    width: 20px;
                    height: 30px;
                    border: 2px solid #333;
                    border-radius: 10px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 0px;
                    margin-right: 8px;
                    margin-bottom: 4px;
                    position: relative;
                    box-shadow: 0 0 2px rgba(0, 0, 0, .1), 1px 1px 6px rgba(0, 0, 0, .2), -2px -1px 5px 0 rgba(0, 0, 0, .1) inset;
                }
                .scroll-btn {
                    position: absolute;
                    height: 8px;
                    width: 4px;
                    border-radius: 2px;
                    background-color: #333;
                    top: 20%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    animation: scrolling 0.8s infinite;
                }
                @keyframes scrolling {
                    0% {
                        transform: translate(-50%, -25%);
                    }
                    50% {
                        transform: translate(-50%, 0%);
                    }
                    100% {
                        transform: translate(-50%, -25%);
                    }
                }
            }
        }
    }
}

.band:last-of-type {
    .band-container {
        width: 100%;
    }
}

.nav-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
    overflow-x: visible;
    background-color: white;
    box-sizing: border-box;
    height: 50vh;
    & a {
        text-decoration: none;
    }
    & .nav-logo {
        & .logo-container {
            text-align: center;
            .logo-cht {
                font-size: 1.7rem;
                margin: 1.5rem 0 0 0;
                letter-spacing: 10px;
                transform: translate(2.5px, 0);
            }
            .logo-en {
                font-size: 16px;
                margin-top: 6px;
                letter-spacing: 1.5px;
                font-weight: 700;
            }
        }
        & #logo {
            width: 100px;
            transform: rotate(0deg) scale(1);
            transition: 1s;
            &.small {
                transform: rotate(0deg) scale(0.8);
            }
            &.loading {
                animation: loading 2s infinite both;
                @keyframes loading {
                    0% {
                        transform: rotate(0deg) scale(0.8);
                        filter: grayscale(0%);
                    }
                    50% {
                        transform: rotate(360deg) scale(0.8);
                        filter: grayscale(95%);
                    }
                    100% {
                        transform: rotate(720deg) scale(0.8);
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
}

.nav-logo,
.nav-time,
.nav-about {
    width: 180px;
}

.nav-time {
    margin-top: 12px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 900;
    padding: 0;
}

.polis-container {
    max-width: 80%;
    padding: 0 12px;
    .polis {
        width: 100%;
    }
    .band-inner>div:first-child {
        margin-bottom: 36px;
    }
}

.cloud-loader {
    margin: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
        margin: 24px;
    }
}

.footer {
    .band-container{
        margin-bottom: 64px;
    }
    .band-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .about-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        margin-bottom: 40px;
        font-weight: 700;
        border-bottom: 2px solid #EFEFEF;
        transition: 0.2s;
        position: relative;
        &:hover {
            cursor: pointer;
            color: #BBBB00;
            transform: translate(-5px, -2px);
        }
    }
}

.about-container {
    max-width: 900px;
    padding: 24px;
    letter-spacing: 0.5px;
    line-height: 2rem;
    background: #f5f5f5;
    .fa-facebook-square {
        font-size: 3rem;
        text-decoration: none;
    }
}

@media screen and (max-width: $break-medium) {
    .help-i {
        display: none !important;
    }
    .data-desc {
        margin: 48px;
    }
    .num-scale {
        margin: 0px !important;
    }
    #tip {
        display: none;
    }
    .data-desc {
        flex-direction: column;
    }
    .container.is-open {
        overflow: hidden;
    }
    .container.is-open .page-container {
        -webkit-transform: translateX(240px);
        -moz-transform: translateX(240px);
        -ms-transform: translateX(240px);
        -o-transform: translateX(240px);
        transform: translateX(240px);
    }
    .page-container {
        margin-left: 0;
        z-index: 3;
    }
    .nav-container {
        z-index: 2;
    }
    .band-container {
        padding: 0 1.5em;
    }
    #help {
        bottom: 0;
        top: initial;
        max-height: 30vh;
        overflow-y: auto;
        border-radius: 8px;
        margin: 16px;
        padding: 4px;
        .content ol {
            height: initial;
        }
    }
    #modal-container.show #pop-content .card {
        min-width: initial;
    }
    .mob-waring {
        display: block;
    }
    .loader h5 {
        max-width: 80%;
        margin: 4px 0;
        font-size: 0.6rem;
        letter-spacing: 0.1rem;
    }
}