<!DOCTYPE html>
<html>

<head>
  {{> head}}
</head>

<body>
  <div id="modal-container">
    <div id="pop-content">
      <div id="modal-closer" class="close"></div>
      <div class="card-container">
        <div class="list"></div>
      </div>
      <div class="about-container"></div>
    </div>
  </div>
  <div id="help">
    <i class="fa fa-question fa-2x" aria-hidden="true"></i>
    <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
    <div class="content">
       統計6家媒體於官方網站上，一周內所發表之新聞量。
      <hr>
      <strong>資料來源</strong>
      <ol>
        <li>蘋果日報</li>
        <li>聯合報</li>
        <li>自由時報</li>
        <li>東森新聞雲</li>
        <li>中央通訊社</li>
        <li>中國時報</li>
      </ol>
    </div>
  </div>
  <div class="container">
     <div class="nav-container">
      <div class="nav-logo">
        <div class="logo-container">
          <a href="#">
            <img id="logo" src="./dist/img/logo.png" alt="logo">
          </a>
          <a href="#">
            <h1 class="logo-cht">媒礦</h1>
            <h1 class="logo-en">Minedia</h1>
          </a>
          <div class="nav-time"></div>
        </div>
      </div>
    </div> 
    <div class="loader">載入中</div>
    <div class="page-container">
       <section class="band">
        <div class="band-container top-band">
          <div class="band-inner">
             {{> news_bar}}
            <div class="data-desc">
              <h1 id="num-news"></h1>
              <h2 id="num-scale">篇新聞</h2>
            </div>
          </div>
        </div>
      </section> 
       <section class="band">
        <div class="band-container">
          <div class="band-inner">
            <div><h1>本週熱詞榜</h1>
            <h2 class="sub-title">本週有什麼議題是媒體們的寵兒呢？</h2></div> {{> buzzword}}
          </div>
        </div>
      </section> 
      <section class="band">
        <div class="band-container">
          <div class="band-inner">
            <div><h1>標題用詞報告</h1>
            <h2 class="sub-title">每當提及什麼議題，媒體會變得特別激動呢？</h2></div> {{> word_analysis}}
          </div>
        </div>
      </section>
      <section class="band">
        <div class="band-container">
          <div class="band-inner">
            <div><h1>媒體用詞雲</h1>
            <h2 class="sub-title">網羅本週使用次數前三百名熱詞，<i class="fa fa-hand-pointer-o" aria-hidden="true"></i>點選文字發現你的媒礦</h2></div> 
            <div class="qurey-word-container">
              <h2 id="qurey-word"></h2>
            </div>
            <div class="advance-section-container">
              <div class="cloud-timeline-container">
                {{> cloud}} {{> timeline}}
              </div>
              <div class="wordCollection-container">
                 {{> wordCollection}}
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="band">
        <div class="band-container polis-container">
          <div class="band-inner">
            <div>
              <h1>分享與討論</h1>
              <h2 class="sub-title">
                有什麼想法嗎？在這裡為你的立場發聲
              </h2>
            </div>
            <div class='polis' data-page_id='page-1' data-site_id='polis_site_id_QKXjXCd0z0A2hkx8l2'>
            </div>
          </div>
        </div>
      </section>
      <section class="band footer" >
        <div class="band-container">
          <div class="band-inner">
            <div class="about-icon">about us</div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
<script src="./src/d3.v3.min.js"></script>
<script src="./src/d3.layout.cloud.js"></script>
<script src="./src/jquery.min.js"></script>
<script src="https://use.fontawesome.com/e9c11f428f.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js" integrity="sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data.min.js" integrity="sha256-Mbm+oB/+8ujzEer9u83ZRKEhlPohbY9USJ4VpxiNR9w="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="./dist/js/all.js"></script>
<script defer='true' async='true' src='https://pol.is/embed.js'></script>
</html>
