<h1>你們是誰？</h1>
<div class="inf-card-container">
  <div class="inf-card">
    <div class="des">
      <div class="name">developer1</div>
      <p class="talking">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, dolorum!</p>
      <div class="links">
        <i class="fa fa-github" aria-hidden="true"></i>
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="inf-card">
    <div class="des">
      <div class="name">developer2</div>
      <p class="talking">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, minus?</p>
      <div class="links">
        <i class="fa fa-github" aria-hidden="true"></i>
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="inf-card">
    <div class="des">
      <div class="name">developer3</div>
      <p class="talking">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, excepturi.</p>
      <div class="links">
        <i class="fa fa-github" aria-hidden="true"></i>
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="inf-card">
    <div class="des">
      <div class="name">李至青 Ching Li</div>
      <p class="talking">興趣使然的網頁前端愛好者，希望這個世界能因為自己而有一點點的不一樣。</p>
      <div class="links">
        <i class="fa fa-github" aria-hidden="true"></i>
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
