<div class="avgWords-container">
	<div class="visWords-container apple-container">
		<h3>蘋果日報</h3>
	</div>
	<div class="visWords-container udn-container">
		<h3>聯合報</h3>
	</div>
	<div class="visWords-container liberty-container">
		<h3>自由時報</h3>
	</div>
	<div class="visWords-container cna-container">
		<h3>中央社</h3>
	</div>
	<div class="visWords-container ettoday-container">
		<h3>東森新聞雲</h3>
	</div>
</div>