<title>媒礦 Minedia</title>
<meta name="description" content="視覺化新聞媒體的品牌獨特性，打開媒體的黑盒子，做閱聽人的燈塔。">
<meta name="robots" content="index, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:type" content="website" />
<meta property="og:title" content="媒礦 Minedia">
<meta property="og:description" content="視覺化新聞媒體的品牌獨特性，打開媒體的黑盒子，做閱聽人的燈塔。" />
<!-- TODO: fill with absolute path -->
<!-- <meta property="og:image" content="" /> -->
<!-- <meta property="og:url" content=""> -->
<meta property="og:image" content="">
<link rel="stylesheet" href="./dist/css/index.css">
<link rel="stylesheet" href="./src/normalize.css">