
<h3>相關報導</h3>
<div class="card-container show" id="word-collection">
	<div class="list apple-container">
		<h3>蘋果日報</h3>
		<div class="cards"></div>
	</div>
	<div class="list udn-container">
		<h3>聯合報</h3>
		<div class="cards"></div>
	</div>
	<div class="list liberty-container">
		<h3>自由時報</h3>
		<div class="cards"></div>
	</div>
	<div class="list cna-container">
		<h3>中央社</h3>
		<div class="cards"></div>
	</div>
	<div class="list ettoday-container">
		<h3>東森新聞雲</h3>
		<div class="cards"></div>
	</div>
	<div class="list china-container">
		<h3>中國時報</h3>
		<div class="cards"></div>
	</div>
</div>